html {
	font-size: 100%;
}

body {
	font-family: 'Open Sans', Helvetica Neue, Sans-serif;
	font-size: 16px;
	line-height: 28px;
	font-weight: 300;
	color: #313131;
	text-align: center;
	overflow-x: hidden !important;
	margin: auto !important;
}

/*---------------------------------------
   1.2 PRE-LOADER
-----------------------------------------*/
.preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fefefe;
	z-index: 99999;
	height: 100%;
	width: 100%;
	overflow: hidden !important;
}

.status {
	width: 40px;
	height: 40px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -20px 0 0 -20px;
}

/*---------------------------------------
   2.3 ANCHOR AND BOLD TEXT
-----------------------------------------*/
a {
	text-decoration: none;
	-webkit-transition: all ease 0.25s;
	transition: all ease 0.25s;
}

a:hover {
	text-decoration: underline;
}

/*---------------------------------------
   1.4 MISC FIXES
-----------------------------------------*/
@-webkit-viewport {
	width: device-width;
}

@-moz-viewport {
	width: device-width;
}

@-ms-viewport {
	width: device-width;
}

@-o-viewport {
	width: device-width;
}

@viewport {
	width: device-width;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

ul,
ol {
	padding-left: 0 !important;
}

li {
	list-style: none;
}

.row.no-gutters[class^="col-"],
.row.no-gutters[class*=" col-"] {
	padding-right: 0;
	padding-left: 0;
}

.navbar-inverse .navbar-nav > li > a {
	color: inherit;
}

.nav > li > a {
	padding: inherit;
}

.navbar-nav.navbar-right:last-child {
	margin-right: 0;
}

.navbar-inverse .navbar-nav > li > a:focus {
	color: inherit;
}

.mailchimp-success,
.mailchimp-error,
.email-success,
.email-error {
    display: none;
	margin-top: 15px;
}

.mailchimp-success span,
.mailchimp-error span,
.email-success span,
.email-error span {
    margin-right: 10px;
}
