<!-- =========================
 SECTION: PRICING
============================== -->
<section class="pricing white-bg" id="pricing">
    <div class="container">

        <!-- SECTION HEADER -->
        <div class="section-header">
            <h2 class="dark-text">У нас всегда <strong>доступные</strong> цены</h2>
            <div class="colored-line">
            </div>
        </div>
        {{> pricing/price-items}}
    </div>
</section>
