<!-- =========================
 SECTION: SERVICES
============================== -->
<section class="services grey-bg" id="services">
    <div class="container">
        <!-- SECTION HEADER -->
        <div class="section-header">
            <h2 class="dark-text"><strong>Вам нужны пластиковые окна?</strong> Тогда вам к нам!</h2>
            <div class="colored-line">
            </div>
        </div>
        <div class="row">

            <!-- SINGLE SERVICE -->
            <div class="col-md-4 wow fadeInLeft" data-wow-offset="10" data-wow-duration="1.75s">
                <div class="single-service border-bottom-hover">
                    <div class="service-icon colored-text service-1">
                    </div>
                    <h3 class="colored-text">Установка окон</h3>
                    <p>
                        Мы выполним правильный монтаж окон по ГОСТу с гарантией до 3 лет!!!
                    </p>
                </div>
            </div>

            <!-- SINGLE SERVICE -->
            <div class="col-md-4 wow flipInY" data-wow-offset="10" data-wow-duration="1s">
                <div class="single-service border-bottom-hover">
                    <div class="service-icon colored-text service-2">
                    </div>
                    <h3 class="colored-text">Бесплатная доставка</h3>
                    <p>
                        Мы в сжатые сроки доставим пластиковые окна по Нижнему Новгороду.
                    </p>
                </div>
            </div>

            <!-- SINGLE SERVICE -->
            <div class="col-md-4 wow fadeInRight" data-wow-offset="10" data-wow-duration="1.75s">
                <div class="single-service border-bottom-hover">
                    <div class="service-icon colored-text service-3">
                    </div>
                    <h3 class="colored-text">Остекление балконов</h3>
                    <p>
                        Остекление балконов и лоджий в Нижнем Новгороде.
                    </p>
                </div>
            </div>
        </div>
        <div class="sub-heading wow slideInLeft">
            <h3 class="colored-text">Замер и калькуляция - <strong>бесплатно!</strong></h3>
            <p>
                Звоните сейчас <span class="phone colored-text">
                    <a href="tel:{{sections.phone}}" class="strong">{{sections.phone}}</a>
                </span>
            </p>
        </div>

    </div>
</section>
