<!-- =========================
 SECTION: TESTIMONIALS
============================== -->
<section class="testimonials grey-bg" id="testimonials">
    <div class="container">

        <!-- SECTION HEADER -->
        <div class="section-header">
            <h2 class="dark-text"><strong>Счастливые</strong> клиенты</h2>
            <div class="colored-line">
            </div>
            <div class="sub-heading">
                Что о нас говорят наши любимые заказчики? Мы не скрываем!
            </div>
        </div>

        <div class="row no-gutters">

            <!-- SINGLE FEEDBACK -->
            <div class="col-md-4 wow fadeInLeft" data-wow-offset="10" data-wow-duration="1.75s">
                <div class="feedback">
                    <div class="pic-container">
                        <img src="%=staticPrefix=%img/assets/sections/client1.jpg" alt="">
                    </div>
                    <p>
                        “Долго выбирал, но всеже остановился на этой компании, и не прогодал! Приехали на замер, все посчитали. Затем очень быстро привезли окна, установили.”

                    </p>
                    <h5 class="colored-text">-Игорь Зимин</h5>
                    <div class="small-text">
                        Нижний Новгород
                    </div>
                </div>
            </div>

            <!-- SINGLE FEEDBACK -->
            <div class="col-md-4 wow fadeIn" data-wow-offset="10" data-wow-duration="1.75s">
                <div class="feedback border-left border-right">
                    <div class="pic-container">
                        <img src="%=staticPrefix=%img/assets/sections/client2.jpg" alt="">
                    </div>
                    <p>
                        “Молодцы ребята, хороший подход к делу! Правда уборка строительного мусора за дополнительные деньги. ( Но зато в конце скидку сделали! Спасибо!”
                    </p>
                    <h5 class="colored-text">- Марина Евдакимова</h5>
                    <div class="small-text">
                        Нижний Новгород
                    </div>
                </div>
            </div>

            <!-- SINGLE FEEDBACK -->
            <div class="col-md-4 wow fadeInRight" data-wow-offset="10" data-wow-duration="1.75s">
                <div id="feedback">
                    <div class="feedback">
                        <div class="pic-container">
                            <img src="%=staticPrefix=%img/assets/sections/client3.jpg" alt="">
                        </div>
                        <p>
                            “По наследсву досталась квартира. Окна заказывала в этой компании. Очень довольна и всем советую. Очень качествено и не дорого.”
                        </p>
                        <h5 class="colored-text">- Оксана Моисеева</h5>
                        <div class="small-text">
                            Дзержинск
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
