/*---------------------------------------
   3.15 SECTION: FOOTER
-----------------------------------------*/
.footer {
	padding-top: 40px;
	padding-bottom: 40px;
}

.footer-links li {
	display: inline-block;
	padding: 10px;
}

.footer-links li a:hover {
	text-decoration: none;
}
